body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.nav {
  list-style: none; /* Quita los puntos */
  display: flex; /* Horizontalmente */
  gap: 20px; /* Espacio entre elementos */
  padding: 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  color: #030202;
}

h1 {
  color: #030202;
  text-align: center;
}

p {
  color: #030202;
  font-size: 18px;
}
